<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Thêm/Sửa điện thoại</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:include="fragments/header :: header"></header>
<section layout:fragment="content">
    <form th:action="@{/phones/save}" th:object="${phone}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="name">Tên sản phẩm:</label>
        <input type="text" id="name" th:field="*{name}" required><br>

        <label for="brand">Hãng:</label>
        <input type="text" id="brand" th:field="*{brand}" required><br>

        <label for="price">Giá:</label>
        <input type="number" id="price" th:field="*{price}" required min="0" step="1"><br>

        <label for="description">Mô tả:</label>
        <textarea id="description" th:field="*{description}"></textarea><br>

        <label for="imageUrl">Hình ảnh URL:</label>
        <input type="text" id="imageUrl" th:field="*{imageUrl}"><br>

        <button type="submit">Lưu</button>
    </form>
</section>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>