<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <title>Danh sách điện thoại</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:include="fragments/header :: header"></header>
<section layout:fragment="content">
  <form th:action="@{/phones}" method="get">
    <input type="text" name="keyword" placeholder="Tìm kiếm..." th:value="${keyword}">
    <button type="submit">Tìm</button>
  </form>

  <a th:href="@{/phones/add}">Thêm sản phẩm</a>

  <table>
    <tr>
      <th>Tên</th>
      <th>Hãng</th>
      <th>Giá</th>
      <th>Mô tả</th>
      <th>Hình ảnh</th>
      <th>Hành động</th>
    </tr>
    <tr th:each="phone : ${phones.content}">
      <td th:text="${phone.name}"></td>
      <td th:text="${phone.brand}"></td>
      <td th:text="${phone.price}"></td>
      <td th:text="${phone.description}"></td>
      <td><img th:src="${phone.imageUrl}" alt="Phone Image" width="500"></td>
      <td>
        <a th:href="@{/phones/edit/{id}(id=${phone.id})}">Sửa</a>
        <a th:href="@{/phones/delete/{id}(id=${phone.id})}">Xóa</a>
      </td>
    </tr>
  </table>

  <div>
    <a th:href="@{/phones(page=${currentPage - 1})}" th:if="${currentPage > 0}">Trang trước</a>
    <a th:href="@{/phones(page=${currentPage + 1})}" th:if="${phones.hasNext()}">Trang sau</a>
  </div>
</section>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
